
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    margin-top: 0;
}

.nav {
  margin-bottom: 0;
  list-style: none;
}



.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav.nav-tabs {
  padding: 10px 20px 5px 0px;
  /*background: #f5f5f5;  */
  margin: 0px !important;
}
.nav-tabs {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom:inherit;
    padding-left: 5px !important;
}
.nav.nav-tabs > li {
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
}
.nav.nav-tabs > li > a {
  border: none;
  cursor: pointer;
  margin-right: 15px;
  padding: 6px 20px 12px 20px;
  color: #999;
  transition: color 0.4s ease;
  font-size: 14px;
}
.nav.nav-tabs > li > a:after {
  content: '';
  bottom: -1px;
  width: 0;
  background: #337ab7;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}
.nav.nav-tabs > li > a:hover,
.nav.nav-tabs > li > a:focus {
  background: none;
}
.nav.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}
.nav.nav-tabs > li.active > a {
  border: none;
  cursor: default;
  background: none;
}
.nav.nav-tabs > li:not(.disabled) > a:hover,
.nav.nav-tabs > li.active > a {
  color: #444;
}
.nav.nav-tabs > li:not(.disabled) > a:hover:after,
.nav.nav-tabs > li.active > a:after {
  opacity: 1;
}

.tab-content {
 /* margin-left: 48px !important;   */
     /* margin-left: 48px !important; */
     /* border-top: 1px solid #ddd; */
     border-right: 1px solid #ddd;
     border-left: 1px solid #ddd;
     /* padding-left: 5px !important; */
     border-bottom: 1px solid #ddd;
     padding: 5px 5px 0px 5px;
   /* background: #fff;   */
    background: #fafafa;
}

.nav>li>a {
  /*  padding: 4px 12px;  */
    font-size: 16px;
  position: relative;
  display: block;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.navbar-default .navbar-nav.main-menu>li>a {
    padding:22px 10px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.md-typeset .tab-content .codehilite, .md-typeset .tab-content  .highlight {
   /* background-color: inherit; */
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.md-typeset h6 {
    font-size: 0rem;
    margin: 0.1rem 0;
    height: 0px;
}

