.submenu {
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    background: #fff;
    z-index: -1 !important;
    position: relative;
    color:black;
}
.submenu .nav-tabs>li.active>a, 
.submenu .nav-tabs>li.active>a:focus, 
.submenu .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: #37c3ff;
}

.submenu .nav-tabs {
    border-bottom:none;
}

.submenu .nav.nav-tabs {
  padding: 7px 20px 4px 0px;
  background: white;
  border:none;
}
.submenu .nav.nav-tabs > li {
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
}
.submenu .nav.nav-tabs > li > a { 
  border: none;
  cursor: pointer;
  margin-right: 15px;
  padding: 4px 20px 6px 20px;
  color: #999;
  transition: color 0.4s ease;
  font-size: 14px;
}
.submenu .nav.nav-tabs > li > a:after {
  content: '';
  bottom: -1px;
  width: 0;
  background: #337ab7;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}
.submenu .nav.nav-tabs > li > a:hover,
.submenu .nav.nav-tabs > li > a:focus {
  background: none;
}
.submenu .nav.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}
.submenu .nav.nav-tabs > li.active > a {
  border: none;
  cursor: default;
  background: none;
}
.submenu .nav.nav-tabs > li:not(.disabled) > a:hover,
.submenu .nav.nav-tabs > li.active > a {
  color: #444;
}
.submenu .nav.nav-tabs > li:not(.disabled) > a:hover:after,
.submenu .nav.nav-tabs > li.active > a:after {
  opacity: 1;
}