.md-nav--primary .md-nav__item {
    font-size: 1.1rem;
    line-height: inherit;
}

label {
    font-weight: 400 !important;
}

.md-nav__item.md-nav__item--active.md-nav__item--nested > label {
    font-weight: bold !important;
}

.md-nav__item--active > label, .md-nav__link--active, .md-nav__link:active {
    font-weight: bold;
}

.md-typeset code {
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: none;
    margin: 0 .1em;
    padding: .07em 0.2em;
    color: #c51f88;
    font-size: 75%;
}

.md-typeset .md-typeset__table code {
    background-color: hsla(0,0%,93%,.5);
    border: inherit;
    box-shadow: 0.29412em 0 0 hsla(0,0%,93%,.5), -0.29412em 0 0 hsla(0,0%,93%,.5);
    margin: 0 .29412em;
    padding: .07353em 0;
    color: #37474f;
}

.superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.superfences-tabs .highlight {
  background: #ddd;
}

.superfences-tabs .superfences-content {
  display: none;
  order: 99;
  width: 100%;
    background-color: hsla(0,0%,93%,.5); 
}

.superfences-tabs label {
  width: auto;
  margin: 0.3em 0.5em 0.3em 1.25em;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.superfences-tabs label:after {
  content: '';
  bottom: -1px;
  width: 0;
  background: #337ab7;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}

.superfences-tabs input {
  position: absolute;
  opacity: 0;
}

.superfences-tabs input:nth-child(n+1) {
  color: #333333;
}

.superfences-tabs input:nth-child(n+1):checked + label {
  /*  color: #FF5252; */
  border-bottom: 3px solid #337ab7;
}

.superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
    display: block;
}

.superfences-content .codehilite {
    background-color: inherit !important;
}

/* tabs with html */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    margin-top: 0;
}

.nav {
  margin-bottom: 0;
  list-style: none;
}



.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav.nav-tabs {
  padding: 10px 20px 5px 0px;
  /*background: #f5f5f5;  */
  margin: 0px !important;
}
.nav-tabs {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom:inherit;
    padding-left: 5px !important;
}
.nav.nav-tabs > li {
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
}
.nav.nav-tabs > li > a {
  border: none;
  cursor: pointer;
  /*margin-right: 15px;
  padding: 6px 20px 12px 20px;*/
  color: #999;
  transition: color 0.4s ease;
  font-size: 12px;
}

.nav.nav-tabs > li > a:after {
  content: '';
  bottom: -1px;
  width: 0;
  background: #337ab7;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}
.nav.nav-tabs > li > a:hover,
.nav.nav-tabs > li > a:focus {
  background: none;
}
.nav.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}
.nav.nav-tabs > li.active > a {
  border: none;
  cursor: default;
  background: none;
}
.nav.nav-tabs > li:not(.disabled) > a:hover,
.nav.nav-tabs > li.active > a {
  color: #444;
  border:none;
}
.nav.nav-tabs > li:not(.disabled) > a:hover:after,
.nav.nav-tabs > li.active > a:after {
  opacity: 1;
}

.tab-content {
 /* margin-left: 48px !important;   */
     /* margin-left: 48px !important; */
     /* border-top: 1px solid #ddd; */
     border-right: 1px solid #ddd;
     border-left: 1px solid #ddd;
     /* padding-left: 5px !important; */
     border-bottom: 1px solid #ddd;
     padding: 5px 5px 0px 5px;
   /* background: #fff;   */
    background: #fafafa;
}

.nav>li>a {
  /*  padding: 4px 12px;  */
    font-size: 16px;
  position: relative;
  display: block;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.navbar-default .navbar-nav.main-menu>li>a {
    padding:22px 10px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.md-typeset .tab-content .codehilite, .md-typeset .tab-content  .highlight {
   /* background-color: inherit; */
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.md-typeset h6 {
    font-size: 0rem;
    margin: 0.1rem 0;
    height: 0px;
}


