/* When data-md-color-scheme is NOT "slate" */
[data-md-color-scheme]:not([data-md-color-scheme="slate"]) .md-nav__item--section>.md-nav__link,
[data-md-color-scheme]:not([data-md-color-scheme="slate"]) .md-nav__title {
  color: black !important;
}

[data-md-color-scheme]:not([data-md-color-scheme="slate"]) .md-nav__link svg {
  color: rgb(130, 130, 130);
}

[data-md-color-scheme]:not([data-md-color-scheme="slate"]) .md-nav__link--active svg {
  color: black;
}

/* When data-md-color-scheme IS "slate" */
[data-md-color-scheme="slate"] .md-nav__item--section>.md-nav__link,
[data-md-color-scheme="slate"] .md-nav__title {
  color: white !important;
}

.md-nav__item .md-nav__link--active {
  font-weight: 700;
 /* 
   border-left: 4px solid var(--md-primary-fg-color);
  padding-left:3px;
  */
}
/*
.md-header__button.md-logo img {
  height: 2.5rem;
}

.md-header__button, .md-header__button.md-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}*/

.midalign {
  vertical-align: middle;
}

.md-typeset a {
  font-weight: 700;
}

a.glightbox img {
  border: solid 1px #cccccc;
}