.md-nav__item--section>.md-nav__link {
  color: black !important;
}

.md-header__button.md-logo img {
  height: 2.5rem;
}

.md-header__button,
.md-header__button.md-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.midalign {
  vertical-align: middle;
}