name: Deploy PRO Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'backendless-pro-manager/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install OpenVPN
        run: sudo apt-get update && sudo apt-get install -y openvpn sshpass

      - name: Check version
        run: openvpn --version

      - name: Setup OpenVPN configuration
        run: |
          mkdir -p /tmp/openvpn
          echo "${{ secrets.OPENVPN_CONFIG }}" > /tmp/openvpn/config.ovpn

      - name: Connect to OpenVPN
        run: sudo openvpn --config /tmp/openvpn/config.ovpn --verb 4 --daemon

      - name: Check ssh connect success
        run: | 
          echo "ping ip"
          ping -c 4 10.110.3.51
          echo "ping domain"
          ping -c 4 site.us.backendless.com
        continue-on-error: true

      - name: Install Python and dependencies
        run: |
          sudo apt-get install -y python3-pip
          pip3 install mkdocs mkdocs-material mkdocs-include-markdown-plugin mkdocs-glightbox

      - name: Build MkDocs site
        working-directory: ./backendless-pro-manager
        run: mkdocs build

      - name: Copy files to server
        env:
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
          SSH_SERVER: ${{ secrets.SSH_SERVER }}
        run: |
          sshpass -p "$SSH_PASSWORD" rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./backendless-pro-manager/build/ $SSH_USERNAME@10.110.3.51:/var/www/backendless.com/docs/pro/
